.container {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1000;
}

.logo {
  margin-left: 40px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.list {
  display: flex;
  gap: 30px;
  background-color: rgba(131, 131, 131, 0.1);
  height: 50px;
  align-items: center;
  border-radius: 10px;
  padding: 0 30px;
}

.link {
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.5s ease;

  &.active {
    background-color: rgb(250, 79, 2);
  }

  &:hover {
    background-color: rgb(250, 79, 2);
  }
}