.container {
  justify-content: center;
  width: 700px;
  margin-top: 20px;
}
.movie_info {
  display: flex;
  gap: 10px;
}

.poster {
  width: 300px;
  height: 440px;
  border-radius: 5px;
  object-fit: contain;
}
.main_info {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.name {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.description {
  font-size: 14px;
  text-align: start;
}
.year_age {
  margin: 40px 0 10px 0;
  display: flex;
}

.age {
  margin-left: 40px;
}

.ratings {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  font-size: 14px;
}

.ifame {
  margin-top: 10px;
  border-radius: 10px;
  width: 700px;
  height: 400px;
}
