.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  gap: 30px;
}

.poster {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.notfound {
  width: 300px;
  height: 400px;
  object-fit: contain;
  border-radius: 10px;
}
.content {
  width: 300px;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.info {
  padding: 10px;
}
.name {
  font-weight: 700;
  margin-bottom: 10px;
}

.genre {
  font-size: 12px;
}

.secound_info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.imdb {
  width: 30px;
  height: 30px;
}
